#cabeza{
    background-color:  white;
width: 1000px;
height: 35px;
padding: 10px;
text-align: center;
border-radius: 10px;
margin: 0 auto;
box-shadow: 0px 0px 20px white;
}
body{
    background-color: #10213F;
}
#imagen{
    width: 600px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
}
#requerimiento10{
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    color: black;
    
    }
    
    #mensaje{
        color:#88a9c3;
    }
    
    #alerta{
        background-color: #091235;
        border-radius: 5px;
        box-shadow: 0px 0px 10px white;
        text-align: left;
        width: 1300px;
        height: 50px;
        color: #88a9c3;
        
    
    }

    #siguiente{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        float: right ;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   
    #Volver10{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        color: black;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   

    body{
        background-color: #10213F;
    }
    
    
    
    
    #requerimiento11{
        background-color: cornflowerblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 20px white;
    }
    
    #producto{
        color: #88a9c3;
    }
    
    #mana{
        background-color: #091235;
        border-radius: 5px;
        box-shadow: 0px 0px 10px white;
        text-align: left; 
        width: 1300px;
        color: #88a9c3;
        height: 50px;
    }
    
    
     
    #Volver11{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        color: black;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   

    body{
        background-color: #10213F;
    }
    #requerimiento12{
        background-color: cornflowerblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 20px white;
    }
    
    #stock{
        color: #88a9c3;
    }
    
    #adm{
        background-color: #091235;
        border-radius: 5px;
        box-shadow: 0px 0px 10px white;
        text-align: left; 
        width: 1300px;
        color: #88a9c3;
        height: 50px;
    }
    
    
     
    #Volver12{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        color: black;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   

    body{
        background-color: #10213F;
    }
    #requerimiento13{
        background-color: cornflowerblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 20px white;
    }
    
    #buscador{
        color: #88a9c3;
    }
    
    #herra{
        background-color: #091235;
        border-radius: 5px;
        box-shadow: 0px 0px 10px white;
        text-align: left; 
        width: 1300px;
        color: #88a9c3;
        height: 50px;
    }
    
    
    #Volver13{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        color: black;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   

    body{
        background-color: #10213F;
    }
    #requerimiento14{
        background-color: cornflowerblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 20px white;
    }
    
    #modulo{
        color: #88a9c3;
    }
    
    #ultima{
        background-color: #091235;
        border-radius: 5px;
        box-shadow: 0px 0px 10px white;
        text-align: left; 
        width: 1300px;
        color: #88a9c3;
        height: 30px;
    }
    
    
    #Volver14{
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
        color: black;
        box-shadow: 0px 0px 20px white;
        text-decoration: none;
    }   

